* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #1d78af;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #1d78af;
  color: #FFF;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #1d78af;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

body {
  background-color: #e0e3c6;
  height: 2000px;
  padding: 20px 0;
}

.bar {
  display: block;
  background-color: #010204;
  margin-right: 1%;
  float: left;
  height: 100vh;
  width: 10%;
  background-image: url(../img/hubbard-bw-1500.jpg);
  background-position: fixed;
}

.bar-6 {
  background-image: url(../img/hubbard-orange-1500.jpg);
  background-attachment: fixed;
}

.bar-1 {
  background-position: 0% center;
}

.bar-2 {
  background-position: 10% center;
}

.bar-3 {
  background-position: 20% center;
}

.bar-4 {
  background-position: 30% center;
}

.bar-5 {
  background-position: 40% center;
}

.bar-6 {
  background-position: 20% center;
}

.bar-7 {
  background-position: 60% center;
}

.bar-8 {
  background-position: 70% center;
}

.bar-9 {
  background-position: 80% center;
}

.bar-1 {
  height: 100vh;
}

.bar-2 {
  height: 100vh;
}

.bar-3 {
  height: 100vh;
}

.bar-4 {
  height: 100vh;
}

.bar-5 {
  height: 100vh;
}

.bar-6 {
  height: 200vh;
}

.bar-7 {
  height: 100vh;
}

.bar-8 {
  height: 100vh;
}

.bar-9 {
  height: 100vh;
}

.bar-9 {
  margin-right: 0;
}

.h1 {
  font-weight: 200;
  position: absolute;
  margin-top: 70vh;
  padding: 20px 0;
  width: 100%;
  background-color: #e0e3c6;
  font-family: "news-gothic-std";
  font-size: 30px;
  color: #d8681e;
  z-index: 5;
}
.h1 .clarendon {
  font-family: "clarendon-wide";
  color: #010204;
  font-size: 60px;
}

.hero-1, .hero-2, .hero-3, .hero-4 {
  height: 100vh;
  background-position: 20% center;
  background-attachment: fixed;
}

.hero-1 {
  margin-top: 200vh;
  background-image: url(../img/hubbard-bw-1500.jpg);
}

.hero-2 {
  background-image: url(../img/hubbard-orange-1500.jpg);
}

.hero-3 {
  background-image: url(../img/hubbard-bw-1500.jpg);
}

.hero-4 {
  background-image: url(../img/hubbard-orange-1500.jpg);
}

.big-type {
  padding: 20% 0 0 0;
  font-family: "clarendon-wide";
  font-size: 50px;
  color: #e0e3c6;
  border-bottom: 10px solid #d8681e;
}
