@import "base";

$white: #e0e3c6;
$black: #010204;
$orange: #d8681e;

$news-gothic: "news-gothic-std";
$clarendon-wide: "clarendon-wide";

body {
	background-color: $white;
	height: 2000px;
	padding: 20px 0;
}

.bar {
	display: block;
	background-color: $black;
	margin-right: 1%;
	float: left;
	height: 100vh;
	width: 10%;

	background-image: url(/img/hubbard-bw-1500.jpg);
	background-position: fixed;
}

.bar-6 { background-image: url(/img/hubbard-orange-1500.jpg); background-attachment: fixed;}

//BG image
.bar-1 {	background-position: 0% center;    }
.bar-2 {	background-position: 10% center;   }
.bar-3 {	background-position: 20% center;   }
.bar-4 {	background-position: 30% center;   }
.bar-5 {	background-position: 40% center;   }
.bar-6 {	background-position: 20% center;   }
.bar-7 {	background-position: 60% center;   }
.bar-8 {	background-position: 70% center;   }
.bar-9 {	background-position: 80% center;   }


//Bar Heights
.bar-1 {	height: 100vh;   }
.bar-2 {	height: 100vh;   }
.bar-3 {	height: 100vh;   }
.bar-4 {	height: 100vh;   }
.bar-5 {	height: 100vh;   }
.bar-6 {	height: 200vh;   }
.bar-7 {	height: 100vh;   }
.bar-8 {	height: 100vh;   }
.bar-9 {	height: 100vh;   }


.bar-9 { 	margin-right: 0;  }


.h1 {
	font-weight: 200;
	position: absolute;
	margin-top: 70vh;
	padding: 20px 0;
	width: 100%;
	background-color: $white;
	font-family: $news-gothic;
	font-size: 30px;
	color: $orange;
	z-index: 5;

	.clarendon {
		font-family: $clarendon-wide;
		color: $black;
		font-size: 60px
	}
}

.hero-1, .hero-2, .hero-3, .hero-4 {
	height: 100vh;
	background-attachment: fixed;
}

.hero-1 { 	margin-top: 200vh;	background-image: url(/img/hubbard-bw-1500.jpg); }
.hero-2 { 	background-image: url(/img/hubbard-orange-1500.jpg); }
.hero-3 { 	background-image: url(/img/hubbard-bw-1500.jpg); }
.hero-4 {	background-image: url(/img/hubbard-orange-1500.jpg); }


.big-type {
	padding: 20% 0 0 0;
	font-family: $clarendon-wide;
	font-size: 50px;
	color: $white;
	border-bottom: 10px solid $orange;
}
